<%- include('./partials/header.ejs') %>
<div class="main">
    <h1><%= toons.name %></h1>
        <div>
            <div>
                <img class="card-img-top1"src="<%= toons.img %>" alt="image"> 
            </div>
            <p>Class: <%= toons.class%>.</p>
            <p>Name: <%= toons.name %>.</p>
            <p>Description: <%= toons.description %>.</p>
            <p>Strength: <%= toons.str %>.</p>
            <p>Dexterity: <%= toons.dex %>.</p>
            <p>Constitution: <%= toons.con %>.</p>
            <p>Intelligence: <%= toons.int %>.</p>
            <p>Wisdom: <%= toons.wis %>.</p>
            <p>Charisma: <%= toons.charm %>.</p>

            <a href="/toons/<%= toons.id %>/edit">Edit</a>
        </div>

        <form action="/toons/<%= toons._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
        </form>
        <button type="submit" disabled onclick="window.location.href='/toons/<%= toons.id %>'">Download as PDF!</button>
</div>
<%- include('./partials/footer.ejs')%>